.footer {
  // position: absolute;
  // bottom: 0;
  // right: 0;
  // left: 0;

  width: 100%;
  margin-top: auto;
  padding: 1rem;
}

.navMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: auto;
  width: auto;
}
.navItem {
  padding: 1rem;
}
a:hover {
  text-decoration: underline;
}
